/* General styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 10px / 16px = 0.625 = 62.5% */
}

/* Section styles */

.section-faq {
  min-height: 100vh;
  line-height: 1;
  font-weight: 400;
  color: #444;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  place-items: center;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
  /* display: grid;
  grid-template-columns: 50% 50%; */
  /* width: 80rem;
  height: 42rem; */
  background-color: white;
  display: flex;
  /* gap: 9.2rem; */
  justify-content: space-between;
  /* padding: 5.2rem 4.2rem 4.2rem 0; */
  border-radius: 2.4rem;
  box-shadow: 0 2rem 4rem hsl(250, 48%, 48%);
}

.image-container {
  background: url("../img/images/bg-pattern-desktop.svg");
  background-position: bottom -20px right 65px;
  /* background-size: cover, 100%; 
  background-size: 100%; */
  background-size: 100% auto;
  background-repeat: no-repeat;
  /* background-size: 700px, 100%; */
  /* background-position-x: -340px, -72px;
  background-position-y: -203px, top; */
  display: flex;
  align-items: center;
  width: 50%;
  position: relative;
  overflow: hidden;
}

.box-wrapper {
  position: absolute;
  /* left: -7.2rem;
  bottom: 10rem; */

  /* To prevent box from moving vertically when expanding accordion */
  z-index: 9999;
  margin-left: -7rem;
  margin-top: -7rem;
}

.box {
  width: 15rem;
  position: fixed;
}

.woman-img {
  position: absolute;
  left: -6.4rem;
  width: 40rem;

  /* margin-left: -5rem; */
}

.faq-container {
  /* padding: 4.2rem; */
  width: 50%;
  padding: 5.2rem 10rem 8.2rem 0;
}

.faq-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 3.8rem;
  text-transform: uppercase;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.question {
  /* padding-top: 3.2rem; */

  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 2.4rem;
  /* row-gap: 3.2rem; */
  align-items: center;
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem; */
  padding-bottom: 1.6rem;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.question-text {
  color: hsl(237, 12%, 33%);
  font-size: 1.2rem;
  transition: all 0.3s;
}

.question-text:hover {
  font-weight: 700;
  color: hsl(14, 88%, 65%);
}

.chevron {
  margin-right: 1.6rem;
}

.answer-text {
  grid-column: 1;
  line-height: 1.6;
  margin-top: 1rem;
  display: none;
}

/* JS classes */

.open .chevron {
  transform: rotate(180deg);
}

.open .answer-text {
  display: block;
}

.open .question-text {
  font-weight: 700;
}
