.section-button {
  padding: 9.6rem 0;
}

body {
  background-color: #e4ebf5;
}

.btn {
  padding: 1.8rem 1.4rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.get-started-btn {
  font-family: "Inter", sans-serif;
  color: #fff;
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #5353de;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  transition: all 0.3s;
}

.get-started-btn:hover {
  background-color: #4242b2;
}

.shop-women-btn {
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: rgb(23, 23, 23);
  color: rgb(237, 237, 237);
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 2px;
  transition: background-color 0.2s;
  letter-spacing: 1px;
}

.shop-women-btn:hover {
  background-color: rgb(237, 237, 237);
  color: rgb(23, 23, 23);
  outline: solid 2px rgb(23, 23, 23);
}

.try-one-week-btn {
  position: relative;
  max-width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.btn-outline {
  left: 0;
  position: absolute;
  display: inline-block;
  border-radius: 6px;
  box-shadow: inset -2px 0 0 0 #fff, inset 2px 0 0 0 #fff, inset 0 -2px 0 0 #fff,
    inset 0 2px 0 0 #fff;
  transform: translate(-7%, -5%);
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  text-align: center;
  min-width: 19.4rem;
  transform: translate3d(10px, -10px, 0px) scale3d(1, 1, 1) rotateX(5deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  color: #222;
  font-weight: 600;
  padding: 1.8rem 1.4rem;
  background-color: #ec7a7a;
  background-image: linear-gradient(
    122deg,
    #fee5a5,
    #fea5a5 62%,
    #f69393 100%,
    #fff
  );
  transition: all 0.3s;
}

.cta:hover {
  transform: translate3d(6px, -6px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.add-to-chrome-btn {
  color: rgb(238, 238, 238);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-image: linear-gradient(to right, #39c56cc0, #1e95b9cd);
  letter-spacing: 0.5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.add-to-chrome-btn:hover {
  color: #fff;
  box-shadow: none;
}

.subscribe-bell-icon {
  height: 2rem;
}

.subscribe-bell-ring-icon {
  height: 2rem;
  display: none;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 10rem;
  border: 2px solid #333;
  background-color: rgba(207, 207, 236, 0.823);
}

.subscribe-btn:hover .subscribe-bell-icon {
  display: none;
}

.subscribe-btn:hover .subscribe-bell-ring-icon {
  display: inline-block;
}

.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  outline: 2px solid #000;
  border-radius: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  color: #182b52;
  background-color: #4dccbd;
  box-shadow: 3.2px 3.2px 0 1px #000;
  transition: box-shadow 0.35s;
}

.download-btn:hover {
  box-shadow: none;
  color: #050910;
}

.download-btn:hover > .download-icon {
  stroke: #050910;
}

.download-icon {
  stroke: #182b52;
  height: 2rem;
}

.btn-neo {
  width: 100%;
  height: 5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-neo:hover,
.btn-neo:active {
  color: #6d5dfc;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem 0.5rem #fff;
  /* box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem -0.4rem #fff; */
}

.btn-neo:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem -0.4rem #fff;
}

.btn__secondary {
  border-radius: 1rem;
  color: #9baacf;
}

.click {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
