body {
  text-rendering: optimizeLegibility;
}

.section-features {
  padding: 9.2rem 0;
  background-color: #f5f1ed;
}

.container-flex--heading {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  font-size: 3.2rem;
  color: #333;
  letter-spacing: -0.3px;
  margin-bottom: 6.4rem;
}

.grid-container {
  margin: 0 auto;
  max-width: 120rem;
  /* text-align: center; */
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-heading {
  font-family: "Lora", serif;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 2.4;
}

.feature-description {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.8;
}

.health-icon {
  width: 8.5rem;
  height: 8.5rem;
}
