body {
  text-rendering: optimizeLegibility;
}

.header {
  /* background-image: url(../img/brooke-lark-08bOYnH_r_E-unsplash.jpg);
  background-size: cover; */
  height: 100vh;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../img/brooke-lark-08bOYnH_r_E-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header-container {
  width: 120rem;
  position: absolute;
  top: auto;
  bottom: 7rem;
  left: 2rem;
}
.header-container-inner {
  width: 50%;
  padding: 3.2rem;
}

.subheading {
  color: #973432;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  letter-spacing: 0.75px;
}

.heading {
  color: #652221;
  font-weight: 400;
  font-family: "Faustina", serif;
  font-size: 3.6rem;
  margin-bottom: 4.8rem;
  line-height: 1.6;
}

.logo {
  color: #fc5653b7;
  text-align: center;
  line-height: 1.25;
  font-size: 1.8rem;
  letter-spacing: 0.6rem;
}

span {
  font-size: 3.2rem;
}

nav {
  color: #fc5653b7;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Faustina", serif;
  display: flex;
  letter-spacing: 0.2rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 2.8rem 0 2.8rem;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
}

.main-nav-list {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  text-decoration: none;
  list-style: none;
}

.btn,
.btn:link,
.btn:visited {
  color: #973432;
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
}

.btn:after,
.btn:link:after,
.btn:visited:after {
  display: block;
  content: "";
  border-bottom: solid 1.5px #652221;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  padding-bottom: 0.4rem;
  transform-origin: 0% 50%;
}

.btn:hover::after {
  transform: scaleX(1);
}
