* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  text-rendering: optimizeLegibility;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
}
.header {
  display: flex;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
}

/* .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
} */

.header-text {
  color: #f9faf8;
  font-size: 2.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e5e7eb;
}

.hero-section {
  background-color: #1f2937;
}
.hero {
  display: flex;
  gap: 6.2rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 8.4rem 0;
}

.hero-left-content {
  max-width: 60rem;
}

.hero-right-content {
  flex-grow: 2;
}

.hero-main-text {
  font-size: 6.8rem;
  font-weight: bolder;
  color: #f9faf8;
  line-height: 0.9;
}

.hero-subtext {
  font-size: 2rem;
  color: #e5e7eb;
  line-height: 1.6;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #3882f6;
  padding: 1.6rem 3.2rem;
  border-radius: 0.9rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  color: #f9faf8;
}

/* Section - information section */
.random-info-section {
  background-color: #f9faf8;
  padding: 7.8rem 0;
}

.random-info {
  display: flex;
  flex-direction: column;
  max-width: 115rem;
  margin: 0 auto;
  gap: 4.2rem;
}

.info-heading-text {
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;
}

.info-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
}

.square-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.square {
  border: #3882f6 3px solid;
  height: 16rem;
  width: 16rem;
}

/* Helpers */

.margin-bottom-sm {
  margin-bottom: 1.8rem;
}

.margin-bottom-md {
  margin-bottom: 3.8rem;
}
