*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  text-rendering: optimizeLegibility;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
}
.header {
  display: flex;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  padding-top: 2.4rem;
}

/* .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
} */

.header-text {
  color: #f9faf8;
  font-size: 2.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e5e7eb;
}

.hero-section {
  background-color: #1f2937;
}
.hero {
  display: flex;
  gap: 6.2rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 8.4rem 0;
}

.hero-left-content {
  max-width: 60rem;
}

.hero-right-content {
  flex-grow: 2;
}

.hero-main-text {
  font-size: 6.8rem;
  font-weight: bolder;
  color: #f9faf8;
  line-height: 0.9;
}

.hero-subtext {
  font-size: 2rem;
  color: #e5e7eb;
  line-height: 1.6;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #3882f6;
  padding: 1.6rem 3.2rem;
  border-radius: 0.9rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  color: #f9faf8;
  letter-spacing: 0.1rem;
}

/* Section - information section */
.random-info-section {
  background-color: #f9faf8;
  padding: 7.8rem 0;
}

.random-info {
  display: flex;
  flex-direction: column;
  max-width: 125rem;
  margin: 0 auto;
  gap: 6.2rem;
}

.info-heading-text {
  font-weight: 700;
  font-size: 5.2rem;
  text-align: center;
}

.info-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.6rem;
}

.square-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 20rem;
}

.square {
  border: #3882f6 3px solid;
  border-radius: 1.6rem;
  height: 20rem;
  width: 20rem;
}

.square-subtext {
  font-size: 1.8rem;
  text-align: center;
}

/* Thor Quote Section */
.quote-section {
  background-color: #e5e5e5;
  padding: 9.8rem 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.quote-container {
  max-width: 90rem;
  margin: 0 auto;
}

.thor-quote::before {
  content: open-quote;
}

.thor-quote {
  font-size: 4.2rem;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  line-height: 1.3;
}

.thor-quote::after {
  content: close-quote;
}

.quoter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;
}

/* CTA Section */
.cta-section {
  background-color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-container {
  background-color: #3882f6;
  width: 130rem;
  /* width: 20rem; */
  /* height: 20rem; */
  /* margin: 0 auto; */
  margin: 9.8rem 0;
  padding: 3.2rem 0;
  border-radius: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12.2rem;
}

.cta-text-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: #f9faf8;
  padding: 3.6rem;
}

.cta-main-text {
  font-weight: 700;
  font-size: 3.2rem;
}

.cta-subtext {
  font-size: 2rem;
}

.btn-container {
  padding: 2.4rem;
}

.btn-outline,
.btn-outline:link,
.btn-outline:visited {
  display: inline-block;
  background-color: #3882f6;
  padding: 1.6rem 6.2rem;
  border-radius: 0.9rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  border: #f9faf8 solid 2px;
  cursor: pointer;
  color: #f9faf8;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #f9faf8;
  color: #3882f6;
}

/* Footer */

footer {
  background-color: #1f2937;
  max-width: 100vw;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  padding: 3rem 0;
  font-size: 1.8rem;
  color: #f9faf8;
}

/* Helpers */

.margin-bottom-sm {
  margin-bottom: 1.8rem;
}

.margin-bottom-md {
  margin-bottom: 3.8rem;
}
