body {
  background-color: #cad6ec;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8.6rem;
  padding: 0 2.8rem;
  transition: all 0.4s;
}

.header:hover {
  background-color: #f4f7fb;
  box-shadow: 1 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.logo-container {
  position: relative;
  font-family: "Lora", serif;
  font-weight: 500;
  margin-right: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.care {
  /* position: absolute; */
  font-size: 2.8rem;
}

.one {
  position: absolute;
  top: 2.6rem;
  left: 4rem;
  font-size: 2.8rem;
}

span {
  font-size: 3.2rem;
}

.cart-icon {
  width: 2.4rem;
  fill: #3d4047;
}

.cart-icon:hover {
  fill: #6c9d87;
}

.main-nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 160rem;
  padding: 0 3rem;
}

.left-nav-list {
  display: flex;
  flex: 4 1 0%;
}

.right-nav-list {
  display: flex;
  justify-content: flex-end;
  flex: 4 1 0%;
}

/* Main navigation */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.4s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #6c9d87;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.6rem 4.2rem;
  border-radius: 100px;
  color: #f4f7fb;
  background-color: #3d4047;
  text-transform: none;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  padding: 1.6rem 4.2rem;
  border-radius: 100px;
  color: #6c9d87;
  background-color: #f4f7fb;
  text-transform: none;
  box-shadow: inset 0 0 0 2px #6c9d87;
}

section {
  display: block;
}

.learn-nav-link {
  position: relative;
}

.learn-dropdown {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dropdown-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  top: calc(100% - 0.825rem);
  right: 99.5rem;
  box-shadow: rgb(0 0 0 / 18%) 0px 0.625rem 2.5rem;
  border-radius: 0.375rem;
  overflow: hidden;
  max-width: 14.5rem;
  padding: 3.2rem 1.8rem;
  transition: visibility 0s ease 0s, opacity 0.5s linear 0s;
}

.dropdown-menu li {
  /* padding: 1.2rem 2rem; */
  font-size: 1.8rem;
  list-style: none;
}

.dropdown-menu li:hover {
  text-decoration: underline;
}

.link {
  text-decoration: none;
}

/* ul li {
  position: relative;
}

.dropdown {
  min-width: 100%;
  background-color: #f4f7fb;
  visibility: hidden;
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 9999;
  left: 0;
  overflow: auto;
}

.dropdown a {
  text-decoration: none;
  display: block;
  padding: 1.2rem 1.6rem;
}

.dropdown:hover {
  display: block;
} */

.display {
  visibility: visible;
  opacity: 1;
}
