.section-single-product {
  padding: 9.6rem 0;
}

.drink-container {
  max-width: auto;
  padding: 1.8rem 1.6rem 0 1.6rem;
  margin: 0 auto;
  background-color: #ebba3a;
}

.elixir {
  height: 46rem;
  width: auto;
}

.subheading {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  color: orange;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.product-heading {
  font-size: 5.2rem;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.container--main-flex {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.rating-reviews {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.reviews {
  font-size: 1.6rem;
  display: block;
  padding-left: 1.2rem;
}

.star-icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: orange;
}

.description {
  font-size: 1.8rem;
  line-height: 1.4;
}

.product-price {
  font-size: 2.4rem;
  letter-spacing: 1.4px;
}

.btn--add-to-cart {
  width: 34rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--add-to-cart:hover {
  color: #fff;
  background-color: orange;
}
