body {
  font-family: "Work Sans", sans-serif;
}

.section-single-product {
  padding: 9.6rem 0;
}

.drink-container {
  max-width: auto;
  padding: 3rem 1.6rem 0 1.6rem;
  margin: 0 auto;
  background-color: #ebba3a;
}

.elixir {
  height: 46rem;
  width: auto;
  opacity: 0.79;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #463811;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-family: "Work Sans", sans-serif;
}

.product-heading {
  font-family: "Merriweather", serif;
  font-size: 6.2rem;
  line-height: 1.05;
  color: #2f250c;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.container--main-flex {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.rating-reviews {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.reviews {
  color: #765d1d;
  font-size: 1.6rem;
  display: block;
  padding-left: 1.2rem;
}

.star-icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: #2f250c;
}

.half-star-icon {
  stroke: #2f250c;
  height: 2.4rem;
  width: 2.4rem;
}

.description {
  color: #463811;
  font-size: 1.9rem;
  line-height: 1.6;
}

.product-price {
  color: #463811;
  font-size: 2.4rem;
  letter-spacing: 1.4px;
}

.btn--add-to-cart {
  background-color: #463811;
  color: #fdf8eb;
  width: 34rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--add-to-cart:hover {
  color: #2f250c;
  background-color: #2f250c;
  background-color: #f1cf75;
}
