.section-team-interface {
  padding: 9.6rem 0;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  /* background-image: radial-gradient(circle 36rem, #f6e4f6, #fbf1fb); */
  background-repeat: no-repeat;
}

.grid--3-cols-half {
  grid-template-columns: 2fr 1fr 1fr;
}

.container--team {
  max-width: 130rem;

  margin: 0 auto;
}

.greeting {
  margin-bottom: 1rem;
  text-align: center;
  color: #222;
  font-size: 2.4rem;
}

.steve-greeting {
  margin-bottom: 1rem;
  color: #222;
  font-size: 2.4rem;
}

.card {
  background-color: #fff;
  padding: 4rem 6.4rem;
  border-radius: 2.8rem;

  box-shadow: 2rem 2rem 10rem rgba(255, 160, 225);
}

.sabrina-card {
  width: 2rem;
}

.sabrina,
.brad,
.emma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.steve {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.8rem;
}

.sabrina {
  grid-row: 1 / -4;
  line-height: 1.8;
}

.description {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.6rem;
  line-height: 1.4;
}

.sabrina-description {
  line-height: 1.8;
}
.steve-description {
  font-size: 1.6rem;
  justify-self: left;
  line-height: 1.4;
  margin-top: 1.6rem;
}

.circle {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
}

.sabrina-circle {
  background-color: red;
  margin-bottom: 5rem;
}

.brad {
  /* background-color: red; */
}

.brad-circle {
  background-color: red;
  width: 9.5rem;
  height: 9.5rem;
}

.emma {
  /* background-color: green; */
}

.emma-circle {
  background-color: red;
  width: 9.5rem;
  height: 9.5rem;
}

.steve {
  grid-column: 2 / -1;

  grid-row: -3 / -1;
}

.steve-circle {
  background-color: red;
  width: 13rem;
  height: 13rem;
  padding-right: 10rem;
}
