.section-team-interface {
  padding: 9.6rem 0;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  background-image: radial-gradient(circle 175rem, #e1b9ede7, #f8f1fb);
  background-repeat: no-repeat;
}

.grid--3-cols-half {
  grid-template-columns: 2fr 1fr 1fr;
}

.container--team {
  max-width: 130rem;

  margin: 0 auto;
}

.greeting {
  margin-bottom: 1rem;
  text-align: center;
  color: #222;
  font-size: 2.4rem;
}

.steve-greeting {
  margin-bottom: 1rem;
  color: #222;
  font-size: 2.4rem;
}

.card {
  background-color: rgb(244, 244, 244);
  padding: 4rem 6.4rem;
  border-radius: 2.8rem;
  cursor: pointer;

  /* box-shadow: 2rem 2rem 10rem rgb(203, 160, 255); */
  transition: all 0.4s;
}

.card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0rem 0rem 0rem 0.5rem rgb(203, 160, 255);
}

.sabrina-card {
  width: 2rem;
}

.sabrina,
.brad,
.emma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.steve {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.8rem;
}

.sabrina {
  grid-row: 1 / -4;
  line-height: 1.8;
}

.description {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.6rem;
  line-height: 1.4;
}

.sabrina-description {
  line-height: 1.8;
}
.steve-description {
  font-size: 1.6rem;
  justify-self: left;
  line-height: 1.4;
  margin-top: 1.6rem;
}

.circle {
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.user-icon {
  position: absolute;
  right: 0;
  height: 4.6rem;
  width: 4.6rem;
  border-radius: 50%;
  border: 2.5px solid #fff;
}

.user-icon--steve {
  height: 5.2rem;
  width: 5.2rem;
}

.user-icon--sabrina {
  height: 7.2rem;
  width: 7.2rem;
}

.sabrina-circle {
  background: radial-gradient(
      farthest-side at bottom left,
      rgba(255, 0, 255, 0.5),
      transparent
    ),
    radial-gradient(
      farthest-corner at top right,
      rgba(255, 50, 50, 0.5),
      transparent 400px
    );
  margin-bottom: 5rem;
}

.brad-circle {
  background: radial-gradient(
      farthest-side at bottom left,
      rgba(46, 40, 212, 0.5),
      transparent
    ),
    radial-gradient(
      farthest-corner at top right,
      rgba(109, 233, 255, 0.5),
      transparent 400px
    );
  width: 9.5rem;
  height: 9.5rem;
}

.emma-circle {
  background: radial-gradient(
      farthest-side at bottom left,
      rgb(238, 10, 10),
      transparent
    ),
    radial-gradient(
      farthest-corner at top right,
      rgba(255, 255, 14, 0.991),
      transparent 400px
    );
  width: 9.5rem;
  height: 9.5rem;
}

.steve {
  grid-column: 2 / -1;

  grid-row: -3 / -1;
}

.steve-circle {
  background: radial-gradient(
      farthest-side at bottom left,
      rgb(6, 113, 38),
      transparent
    ),
    radial-gradient(
      farthest-corner at top right,
      rgba(144, 240, 247, 0.991),
      transparent 400px
    );
  width: 13rem;
  height: 13rem;
  padding-right: 10rem;
}
