.section-testimonial {
  padding: 9.6rem 0;
  font-family: "Inter", sans-serif;
  color: #312f4a;
}

.testimonial-text {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  /* position: relative; */
}

.testimonial-container {
  position: relative;
  background-color: #4bd2b2;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  padding: 8.2rem !important;
  max-width: 100rem !important;
}

.quotation-mark {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17.4rem;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0.5;
  transform: translate(-20%, -29%);
}

.testimonial-profile {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.testimonial-img {
  width: 8.4rem;
  border-radius: 50%;
}

.testimonial-information-container {
  font-size: 2rem;
}

.testimonial-name {
  margin-bottom: 1.2rem;
}
