.section-testimonial {
  padding: 9.6rem 0;
  font-family: "Inter", sans-serif;
  color: #312f4a;
}

.testimonial-text {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  /* position: relative; */
}

.testimonial-container {
  position: relative;
  background-color: #4bd2b2;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  padding: 8.2rem !important;
  max-width: 100rem !important;
}

.quotation-mark {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17.4rem;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0.5;
  transform: translate(-20%, -29%);
}

.testimonial-profile {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.testimonial-img {
  position: relative;
  width: 9.2rem;
  border-radius: 50%;
  padding: 0.8rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23312F4AFF' stroke-width='3' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='85' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 100px;
}

.testimonial-information-container {
  font-size: 2rem;
}

.testimonial-name {
  margin-bottom: 1.2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #312f4a;
  color: #4bd2b2;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2rem 3.2rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  margin-top: 1rem;
}

.btn:hover,
.btn:active {
  color: #312f4a;
  background-color: #4bd2b2;
}
.right-chevron {
  height: 1.5rem;
  padding-left: 0.4rem;
}

.case-study-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100rem !important;
  margin: 0 auto;
}
